<html>
    <head>
        <title>Ecommerce</title>
        <link href="styles.css" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">

        <div class="title">
            <div>Apparels</div>
     
        <% if(locals.userLoggedIn){ %>
            <% if(userLoggedIn){ %>
               
             <div> Welcome, <%=user.username%> </div>
                <a href="/logout" style="text-decoration: none;">Logout</a></div>
            <% }else{ %>
                
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% }
        } %>

</div>
       
    </body>
</html>